#root{
  width: 100vw;
  height: 100vh;
  &>header{
    padding-left: 10vw;
    width:100%;
    height:max(10vh,90px);
    display:flex;
    align-items:center;
    justify-content: flex-start;
    gap:3rem;
    &>nav{
      display:flex;
      gap:5rem;
    }
    &>Button{
      margin-left: auto;
      margin-right: 10vw;
    }
  }
  &>main{
    width:100%;
    height:80vh;
    &>nav{
      width: 380px;
      &>article#nav_header{
        width:100%;
        background:#1D6633;
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color:white;
        padding: 1rem;
      }
    }
  }
}